@inherits LayoutComponentBase
@inject IJwtStateProviderService AuthStateProvider
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <div class="top-row px-4">
                    <button @onclick="@LogoutUser" class="btn btn-outline-primary">Log out</button>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void LogoutUser()
    {
        AuthStateProvider.NotifyUserLogout();
        NavManager.NavigateTo(Routes.LOGIN, true);
    }
}