
@using StockChatter.Models

@page "/register"

@attribute [AllowAnonymous]

<PageTitle>StockChatter - Login</PageTitle>

<h2>Register</h2>

<EditForm Model="@_registerModel" OnValidSubmit="@SubmitLoginRequest">
    <label>
        Username: 
        <InputText id="username" @bind-Value="_registerModel.Username" placeholder="Your username"/>
    </label>

    <label>
        Email: 
        <InputText id="Email" type="email" @bind-Value="_registerModel.Email" placeholder="Your Email"/>
    </label>

    <br/>

    <label>
        Password:
        <InputText id="password" @bind-Value="_registerModel.Password" placeholder="Your password"/>
    </label>

    <br/>

    <button type="submit">Submit</button>
</EditForm>

@code {
    private RegisterModel _registerModel = new();

    private void SubmitLoginRequest()
    {
        
    }
}