@using StockChatter.Shared.Models.Auth

@page "/register"

@attribute [AllowAnonymous]

<PageTitle>StockChatter - Login</PageTitle>

<EditForm Model="@_registerModel" OnValidSubmit="@SubmitLoginRequest" class="col-md-12">

    <div style="width: 50%; margin: 0 auto; padding: 2rem">

        <h2 class="mb-3">Register</h2>

        <div class="mb-3">
            <label for="userName" class="form-label">UserName</label>
            <InputText id="userName" type="text" class="form-control" @bind-Value="_registerModel.UserName" placeholder="Your user name" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText id="email" type="email" class="form-control" @bind-Value="_registerModel.Email" placeholder="your@email.com" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText id="password" class="form-control" @bind-Value="_registerModel.Password" placeholder="Your password" />
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</EditForm>

@code {
    private RegistrationRequest _registerModel = new();

    private void SubmitLoginRequest()
    {

    }
}